/* Main CSS File */

/* Table of Contents 












*/

/* Declare Main Element Styles */

body {
	font-family: 'Noticia Text', serif;
	font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Noticia Text', serif;
	font-weight: 400;
	margin-bottom: 20px;
	line-height: 1.2;
}

h1 {
	color: #FFF;
	font-size: 28px;
}

p{
  color: rgb(87, 84, 84);
  line-height: 1.2;
  margin-bottom: 15px;
}

a {
	color: white;
	text-decoration: none;
}
a:focus, a:hover, a:visited {
	color: white;
	text-decoration: none;
}
section {
	padding: 15px 0px;
}

.green {
	background-color: #445745;
}
/* Navigation Area Setting */
.tagline {
	float: right;
	margin-top: 45px;
	font-weight: bold;
	padding-left: 20px;
	
}

.navbar {
	padding: 20px 0;
}
.navbar-brand > img {
	border-right: 1px solid #aaa;
	padding-right: 30px;
}
.navbar-nav {
	margin-top: 40px;
}
.navbar-nav li {
	border-right: 1px solid #aaa;
}
.nav>li>a:hover, 
.nav>li>a:focus {
 text-decoration: none; 
 background-color: #fff; 
 outline: none;
}
.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
}
.border-left {
	border-left: 1px solid #aaa;
}
.nav li a {
	color: rgb(87, 84, 84);
	font-weight:bold;
}
.nav li a:active {
	color: rgb(68, 87, 69);
}
.navbar-toggle .icon-bar {
	background-color: #000;
}
.nav .open>a, 
.nav .open>a:hover,
.nav .open>a:focus {
	background-color: #fff;
	border-color: #aaa;
}
/* Header Area Settings */

.page-title {
	margin: 5px 0 10px;
}
.home .page-title {
	margin:30px 0 20px 0;
}
.banner {
	padding: 30px 0px;
	margin-bottom: 30px;
}
.banner p {
	color: #ccc;
	font-size: 19px;
	line-height: 1.4;
	margin-top: 20px;
}

/* Page Settings------------------------------------------------------------------------------------ */

.main-content {
	margin-bottom: 80px;
}


/* Home-Page Page Settings---------------------------------------------------------------------------*/

/*Pannels Section------------------------
---------------------------------------*/

.pannel, 
.pannels {
	position: relative;
}
.pannel-text {
	position: absolute;
	color: #fff;
	bottom: 0;
	padding: 20px 20px 10px 20px;
}
.pannels {
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}
.pannels h3 {
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 20px;
}
.pannels p,
.pannels a {
	color: #dcdcdc;
}
.pannels p {
	text-align: left;
	font-size: 14px;
	line-height: 1;
	margin-bottom: 10px;
}
.pannels a:hover {
	text-decoration: none;
}

.home-pannel {
	height: 478px;
	overflow: hidden;
}
.home-pannel img {
	position: relative;
	opacity: .5;
	width: 100%;
}
.read-more {
	float:right;
}
.hidden {
	display:none; 
}

.triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 400px 400px;
	border-color: transparent transparent #445745 transparent;
}

.home-pannel .triangle {
	position: absolute;
	bottom: 80px;
}
.home-pannel-bottom {
	position: absolute;
	height: 80px;
	width:100%;
	bottom: 0;
} 
/* Default Template Page Settings-------------------------------------------------------------------*/

/* Main Content Section---------------
-------------------------------------*/

.main-content {
	color: #666666;
}



/* About Us Page Settings-------------------------------------------------------------------------- */

/* Environmental Content Section-------
-------------------------------------*/
.environmental-content {
	background-image: url('../img/recycle.png');
	background-repeat: no-repeat;
	background-size: 57%;
	background-position: center center;
	margin-bottom: 150px;
	display: none;
}




/* Footer Settings --------------------------------------------------------------------------------*/ 
footer {
	padding: 50px 0px;
}
footer ul {
	list-style-type: none;
}
footer ul li {
	color: #cccccc;
}
footer ul h4 {
	color: #fff;
	font-weight: bold;
}
footer ul li a {
	color: #cccccc;
	text-decoration: none;
}
footer ul li a:hover {
	color: #332F2F;
	text-decoration: none;
}
footer ul li a:active {
	color: #332F2F;
	text-decoration: none;
}
/* Media Queries -----------------------------------------------------------------------------------*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */

}

/* iPads (portrait) ----------- */
@media only screen 
and (max-width : 991px){
	body {
		font-size: 15px;
	}
	h1 {
		font-size: 28px;
	}
	img {
		max-width: 100%;
	}

}

/* Desktops and laptops ----------- */
@media only screen 
and (max-width : 1199px) {
	.navbar-nav > li > a {
		padding-right: 10px;
		padding-left: 10px;
	}

	.pannel-text {
		right: 0px;
	}
}
